table, th, td {
    border: 1px solid;
}
body{
    background-color: rgb(255, 255, 255);
}

.navbar {
    background-color: aliceblue;
    padding: 5px;
    padding-right: 25px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
}

.navbar ul li a{
    color: black;
}

