{% extends 'layouts/base1.html' %}
{% block content%}
<h1>Bienvenido</h1>
<a>Buenas, bienvenido a mi primer proyecto en django, como veras, aún le falta mucho, no es lo más lindo, pero para haber aprendido esto en menos de 1 semana, a mi no me parece nada mal. </a>
<p></p>
<a>Puedes usar los textos de arriba para navegar por la app, el view de stateMachine (opino) que está bien documentado y en algunos elementos de html también esta documentada la magia que hace jinja.</a>
<p></p>
<a>En todo caso, este es un proyectó creado para una clase de informática teórica, donde la idea es que el usuario (tu) ingrese tanto una maquina mealy o moore y esta sea devuelta como una maquina conexa y minimizada. </a>
<p></p>
<a>No te recomiendo refrescar mucho las páginas donde haya inputs, y las maquinas que creas se podrán ver en la página de machines (puedes navegar a esa página usando el texto.</a>
<p></p>
<a>Si estas teniendo problemas con la base de datos, puedes usar el comando Python manage.py flush para vaciarla y empezar de nuevo. No te preocupes, esto no afecta al modelo como tal, solo a los datos guardados.</a>
{% endblock %}